* {
  padding: 0;
  margin: 0;
}
/*HEADER STYLING */
.main-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7rem;
  margin-bottom: 2rem;
}

.main-nav {
  width: 100%;
  background: #272727;
  border-left: 3px solid red;
  height: 8rem;

}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 0.5rem;
}

.main-nav a {
  display: block;
  text-decoration: none;
  color: #cacaca;
}

.main-nav a.active {
  text-decoration: overline underline;
  text-decoration-color: red;
}

.main-nav a:hover {
  text-decoration: overline underline;
  text-decoration-color: red;
}

.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;    
  margin: 1rem 0;
  height: 3rem;
}

.top-bar-logo {
  color: #cacaca;
}

.search-bar input {
  border:none;
  height: 1rem;
}

.search-bar i {
  border: none;
}

.search-bar i:hover {
  cursor: pointer;
}

.search-bar input::placeholder {
  padding-left: 0.5rem;
}

.user-account-buttons a {
  text-decoration: none;
  color: #cacaca;
  font-size: 1rem;
}

.user-account-buttons a:hover {
  text-decoration: overline underline;
  text-decoration-color: red;
  
}