* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
}
/* CONTAINER WRAPPER STYLING */
.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
  grid-template-areas:
    ". header header ."
    ". content sidebar ."
    ". footer footer. ";
}
/* Eventuellt ta väck bilder på lägre skärmstorlekar < 500 ?
/*RESPONSIVE */
@media screen and (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }

  .main-sidebar {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  .main-nav ul {
    font-size: 1.5rem;
  }

  .news-article img {
    margin: 0;
  }

  .news-article {
    flex-direction: column;
  }

  .search-bar input {
    width: 5rem;
  }
}
