* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
}
/* CONTAINER WRAPPER STYLING */
.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
  grid-template-areas:
    ". header header ."
    ". content sidebar ."
    ". footer footer. ";
}

/* MAKING THE LAYOUT RESPONSIVE */
@media (max-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }

  .main-nav ul {
    font-size: 1.5rem;
  }
  /* Varför skriver inte denna över .main-sidebar klassen?*/
  .main-sidebar {
    margin-left: 0;
  }
}

/* MAIN ARTICLE STYLING */
.main-content {
  grid-area: content;
}

.news-articles-container {
  background: #1b1b1b;
  border-left: 3px solid red;
  color: #cacaca;
}
/*Snyggare med bakgrund på hela containern eller på artiklar? Kan ju förvisso köra med båda?*/
.news-article {
  background: #272727;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}

.news-article:last-of-type {
  border-bottom: none;
}

.news-article img {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  max-height: 15rem;
  max-width: 80%;
}

.news-article a {
  text-decoration: none;
  color: black;
  color: #cacaca;
}

.news-article a:hover {
  text-decoration: underline;
}

/* SIDEBAR STYLING */
.main-sidebar {
  grid-area: sidebar;
  padding: 1rem;
  max-height: 15rem;
  margin-left: 0.5rem;
  background: #272727;
  overflow: auto;
  color: #cacaca;
  border-left: 3px solid red;
}

.main-sidebar h3 {
  color: #cacaca;
}

.main-sidebar li {
  list-style: none;
  margin: 0.5rem;
}

.main-sidebar a {
  text-decoration: none;
  color: #cacaca;
}

.main-sidebar a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}
