/* MAIN ARTICLE STYLING */
.main-content {
    grid-area: content;
  }
  
  .news-articles-container {
    background: #1b1b1b;
    color: #cacaca;
  }
  /*Snyggare med bakgrund på hela containern eller på artiklar? Kan ju förvisso köra med båda?*/
  .news-article {
    background: #272727;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
    border-left: 3px solid red;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
  }
  
  .news-article p {
    margin-top: 0.5rem;
  }
  
  .news-article h3 {
    margin-bottom: 0.5rem;
  }
  
  .news-article img {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 30rem;
  }
  
  .news-article a {
    text-decoration: none;
    color: black;
    color: #cacaca;
  }
  
  .news-articles-text-container span {
    margin-right: 0.5rem;
  }
  
  .news-article a:hover {
    text-decoration: underline;
  }
  /*STYLING FOR LARGER NEWS-ARTICLE CONTAINER*/
  .news-article-large {
    background: #272727;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-left: 3px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
  }
  
  .news-article-large p {
    margin-top: 0.5rem;
  }
  
  .news-article-large h3 {
    margin-bottom: 0.5rem;
  }
  
  .news-article-large img {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
  }
  
  .news-article-large a {
    text-decoration: none;
    color: black;
    color: #cacaca;
  }
  
  .news-articles-text-container-large span {
    margin-right: 0.5rem;
  }
  
  .news-article-large a:hover {
    text-decoration: underline;
  }
  